.header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 180px;
}

  .header::before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -10px;
    left: -32px;
    width: 180px;
    height: 188px;
    background-image: url('../images/logo.png');
  }

  .header__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 250px;
    font-size: 30px;
    text-transform: uppercase;
    color: #272727;
    background-color: #fff;
  }
